nav{
    background-image: url('Imagenes/bellas_artes_navegador.jpg');
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    background-size: cover;
}

li a {
    font-size: 30px;
    text-decoration: none;
    color: black ;
}

li{
    display: contents;
   justify-content: center;
}

ul img{
    height: auto;
    width: 100px;
}

.texto{
    font-size: 40px;
    padding: 100px;
    
}